@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes dash {
    to {
      stroke-dashoffset: -20;
    }
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #06b6d4;
}
